{% url 'application:index' as application_index %}
{% url 'home:index' as home %}
{% url 'signup:signup' as signup %}
{% load static %}

<!DOCTYPE html>
<html>

  <body>
 
    <a href="{{ home }}">Home</a>
    <a href="{{ application_index }}">Application Index</a>
    <a href="{{ signup }}">Signup</a>
    {% block content %}{% endblock%}

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
