{% extends "base.html" %}

{% block content %}
<p></p>
<div class="row">
	<div class="panel">
		<div class="row">
			<div class="small-12 columns" style="left:250px">
				<h2>Welcome to the Login page</h2>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Username
					<input type="text" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label>Password
					<input type="text" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<input type="submit" class="button" value="submit" />
			</div>
		</div>
	</div>
</div>
{% endblock %}
