{% extends "base.html" %}
{% url 'user:login' as login %}

{% block content %}
<p></p>
<div class="row">
	<div class="panel">
		<div class="row">
			<div class="small-12 columns" style="left:250px">
				<h2>Welcome to the Signup page</h2>
				<p>Already have an acount? Login <a href="login">here</a>.</p>
			</div>
		</div>

		<form action="/signup/" method="post">
		{% csrf_token %}
		<label for="username">Username:</label>
			{{ form.username }}
		<label for="password">Password:</label>
			{{ form.password }}
		<label for="conform_password">Confirm password:</label>
			<input type="text" />
		<label for="email">Email:</label>
			{{ form.email }}
		<input type="submit" class="button" value="Submit" />
		</form>

	</div>
</div>
{% endblock %}

