<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
{% extends "base.html" %}

{% block content %}

<body>
<div id="page">
        
        <div id="header">
        	<h1>About Us</h1>
            <h2>Hello! We are the SLEDS app team that is currently developing Omniapp. Omniapp is 
			an application that allows users to both find and submit mobile applications that runs on any platform
			whether it be android, apple, or windows just to name a few. Users can both comment and rate any applications
			in our database simply by logging in to their Omniapp account. Users also have the ability to submit an
			 application to our website on which others can rate and comment.</h2>
   </div>
   <!--
        <div id="content">
		
            <div class="content_instance">
			<!-- This is where a picture of them will go
            	<img src="image1.jpg" />
				
                <div class="content_right">
            	<h2>Team member 1 name</h2>
                <p>where their bio will go</p>
                </div>
            </div>
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image2.jpg" />
				
                <div class="content_right">
                <h2>Team member 2 name</h2>
               <p>Their bio</p>
            </div>
            </div>
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image3.jpg" />
				
                <div class="content_right">
                <h2>Name of team member</h2>
               <p>Their bio</p>           

                </div>
            
            </div>
            
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image4.jpg" />
				
            <div class="content_right">
                <h2>Team member name</h2>
               <p>Team member bio</p>
                </div>
           </div>
        </div> 
--> 		
    </div>
</body>

{% endblock %}