<head>
<title>About Us</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
{% extends "base.html" %}

{% block content %}

<body>
<div id="page">
        
        <div id="header">
        	<h1>About Us</h1>
            <h2>This is where a bio about our group will go</h2>
   </div>
        <!--
        <div class="links">
        	Quick Links:
        	<a href="http://bryantsmith.com" ></a> | 
        	<a href="http://bryantsmith.com" ></a> | 
           	<a href="http://bryantsmith.com" ></a> | 
        	<a href="http://bryantsmith.com" ></a>
        </div>
        -->
        <div id="content">
            <div class="content_instance">
			<!-- This is where a picture of them will go
            	<img src="image1.jpg" />
				-->
                <div class="content_right">
            	<h2>Team member 1 name</h2>
                <p>where their bio will go</p>
                </div>
            </div>
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image2.jpg" />
				-->
                <div class="content_right">
                <h2>Team member 2 name</h2>
               <p>Their bio</p>
            </div>
            </div>
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image3.jpg" />
				-->
                <div class="content_right">
                <h2>Name of team member</h2>
               <p>Their bio</p>           

                </div>
            
            </div>
            
            <div class="content_instance">
			<!--This is where a picture of them will go
            	<img src="image4.jpg" />
				-->
            <div class="content_right">
                <h2>Team member name</h2>
               <p>Team member bio</p>
                </div>
           </div>
        </div>     
    </div>
</body>

{% endblock %}