

<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">

</head>
<body>
<div id="logo">
    <a class="G">O</a><a class="o1">m</a><a class="o2">n</a><a class="g">i</a><a class="l">A</a><a class="e">p</a><a class="o2">p</a>
</div>
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
</body>




