{% extends "base.html" %}

{% block content %}
<h1>{{ app.title }}</h1>
<p><b>Description: </b>{{ app.description }}</p>
<p><b>Link:</b> <a href="{{app.link}}">{{ app.link }}</a></p>
<p>
  <b>Price: </b>
  {% if app.price == 0 %} Free
  {% else %} ${{ app.price }}
  {% endif %}
</p>

<h3>Comments</h3>
<div>
  {% if comment_list %}
  <ul>
    {% for comment in comment_list %}
    <li>Title: {{ comment.title }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No comments have been created for this app yet</p>
  {% endif %}
</div>
{% endblock %}
